.admin-table {
  .ant-table-row {
    cursor: pointer;
  }

  .table-action-column {
    button.more-actions {
      display: block;
      margin: 0 auto;
      border: none;
      box-shadow: none;
      background-color: transparent;
      min-width: 39px;
    }
  }
}

.ant-descriptions-item-label {
  width: 200px;
}

.admin-table-actions-wrapper {
  gap: 10px;
  flex-direction: column;
  .table-action {
    min-width: 20px;
    font-size: 14px;
    width: 70px;
    height: 25px;
  }
}

.order-detail {
  .prev-value {
    color: #000;
    opacity: 0.5;
  }
}
