.admin-table-actions-wrapper {
  gap: 10px;
  flex-direction: column;
  .table-action {
    min-width: 20px;
    font-size: 14px;
    width: 70px;
    height: 25px;
  }
}

.table-action-column {
  button.more-actions {
    border: none;
    box-shadow: none;
    background-color: transparent;
    min-width: 39px;
  }
}
